body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: rgb(239, 241, 242) !important;
}
#list1 .form-control {
  border-color: transparent;
}
#list1 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
#list1 .select-input.form-control[readonly]:not([disabled]) {
  background-color: #fbfbfb;
}

/*   */

.react-datepicker-wrapper input,.react-datepicker__triangle{
  display: none !important;
}
@media (min-width: 768px){
.px-md-5 {
    padding-right: 15rem !important;
    padding-left: 15rem !important;
}}

.margin-0{
  margin: 0 !important;
}
.card{
  box-shadow: none !important;
}
.mdbcard-style{
  border-radius: 0.75rem;
  background-color:#eff1f2 ;
}
