.overDueTask,
.overDueTask .Mui-selected {
   background-color: rgb(241, 192, 192);
}
.overDueTask:hover {
   background-color: rgb(241, 192, 192) !important;
}
.customBox {
   height: 400px !important;
}
.doneTask {
   text-decoration: line-through;
}
.gridStyle {
   text-align: right;
   padding-right: 30px;
}
